server:
  port: 0
  
spring:
  application:
    name: chat-service
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest

# H2 데이터베이스 설정 주석 처리
#  h2:
#    console:
#      enabled: true
#      settings:
#        web-allow-others: true
#      path: /h2-console
#  datasource:
#    driver-class-name: org.h2.Driver
#    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
#    username: sa
#    password:
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#    generate-ddl: true

# MySQL 데이터베이스 설정 추가
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/negomarket?serverTimezone=Asia/Seoul
    username: tj705
    password: tj705
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    generate-ddl: true

eureka:
  instance:
    prefer-ip-address: false
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true 
    service-url:
      defaultZone: http://127.0.0.1:8761/eureka 

logging:
  level:
    org.springframework.web.socket: DEBUG
