server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/twojungho/negomarket.git
  application:
    name: config-service


  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
